@import "compass/css3/user-interface";

/*************
TYPOGRAPHY 
& OTHER BITS
*************/

html {
	font-size: 14px;
}

body {
	background: $white;
	color: $black;
	font-family: 'Alegreya Sans', sans-serif;
	word-break: break-word; // wrap extra-long words so they don't break layout
}
h1, .h1, h2, .h2 {
	font-weight: 300;
	line-height: 1.025em;
	margin-top: 0;
}
h3, .h3, h4, .h4, h5, .h5 {
	font-weight: 600;
	line-height: 1.25em;
	margin-top: 0;
}

h1, .h1 {
	font-size: 2.5rem;
}
h2, .h2 {
	color: $bronze;
	font-size: 2rem;
}
h3, .h3 {
	color: $blue;
	font-size: 1.1rem;
}
h4, .h4, h5, .h5, h6, .h6 {
	font-size: 1rem;
}
h4, .h4 {
	color: $bronze;
}
h5, .h5 {
	color: $gray;
}
h6, .h6 {
	color: $gray-dk;
	font-weight: 300;
	text-transform: uppercase;
}

p {
	font-size: 1rem;
	margin-bottom: 0.75em;
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
	ul {
		margin-left: $padding;
	}
}
ol {
	padding-left: 1.125rem;
	li + li {
		margin-top: 0.75em;
	}
}

hr {
	border-top: 1px solid $silver;
	margin-top: $padding;
	margin-bottom: $padding;
}

::selection {
	background: $gray;
	color: $blue-lt;
}

.single main, .page:not(.home) main {
	ul:not(.meta):not(.comment-list) {
		@include bullet-list;
	}
	a:not(.button) {
		@include underline;
		&:hover {
			color: $black;
		}
	}
}

blockquote {
	border-left: 4px solid $silver;
	padding-left: $padding/2;
}

.small, small {
	font-size: 0.75rem;
	text-transform: uppercase;
}

.visually-hidden { /* text for screen readers */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*************
FORMS 
*************/

input, textarea {
	background-color: $silver;
	border: 1px solid $gray-lt;
	max-width: 100%;
	padding: 0.25em;
	&:focus {
		background-color: $green-lt;
		border-color: $green;
		color: $gray-dk;
		outline: none;
	}
	&.error {
		background-color: $red-lt;
		border-color: $red;
	}
	@include input-placeholder {
		color: $gray;
		font-style: italic;
	}
}

input {
	font-family: 'Alegreya Sans', sans-serif;
	padding: 0.75em 1em 0.625em;
}

label {
	color: $bronze;
	display: block;
	font-weight: 900;
	text-transform: uppercase;
}

.checkbox {
	margin-top: $padding/3;
	span { // checkbox label
		color: $gray;
	}
}

/*************
MEDIA
*************/

iframe {
	width: 100%;
}


/*************
COMPONENTS 
other reusable bits of stuff
*************/

a {
	color: $black;
	text-decoration: none;
}

button, .button, input[type='submit'] {
	@include buttons;
  	&.primary {
  		@include buttons($blue,$blue,$blue);
  	}
  	&.secondary {
  		@include buttons($bronze,$black,$black);
  	}
}

button, input[type='submit'] {
	cursor: pointer;
}

.meta {
	color: $gray;
	@extend .small;
}

article {
	position: relative;
	* {
		max-width: 100%;
	}
	.thumbnail {
		background-color: $white;
		background-size: cover;
		background-position: center;
		display: block;
		height: 150px;
		margin-bottom: $padding/4;
		overflow: hidden;
	}
}

/*** Tables ***/

table {
	margin-bottom: $padding/2;
	img {
		max-width: 160px;
	}
	th, tr, td {
		padding: $padding/2;
	}
	th {
		text-align: left;
		@extend .h4;
	}
	tr {
		border-bottom: $border;
		font-size: 0.85rem;
	}
	th + th, td + td {
		border-left: 1px solid $silver;
	}
}

/*** Definition Lists ***/

dt {
	margin-top: $padding/2;
	@extend .h4;
}
dd {
	margin-left: 0;
}
