
/************
ALL SIZES 
*************/

@mixin collapse {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*** GLOBAL ***/

#nav {
	width: 100%;
}

#header .desktop {
	display: none;
}

hr  {
	width: 100%;
}

main {
	@include grid-row;
}

#footer section {
	@include grid-row;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin-right: $padding/2;
}

.alignright {
	float: right;
	margin-left: $padding/2;
}

section.block {
	@include clearfix;
}

/*** NEXTGEN IMAGE GALLERY ***/

div.ngg-gallery-thumbnail-box {
	@include grid-column(4);
}


/************
MEDIUM AND UP
*************/

@include breakpoint(medium) {
	.button-group {
		@include clearfix;
		> div { // slightly different padding/gutter structure here
			float: left;
			width: 48%;
			&:nth-child(even) {
				float: right;
			}
		}
	}
}

/************
LARGE AND UP
*************/

@include breakpoint(large) {

	main {
		min-height: 25rem;
	}

	#footer {
		div.signup, div.contact {
			@include grid-column(6);
		}
		div.signup {
			float: right;
		}
		div.contact {
			float: left;
		}
	}

	/*** HOMEPAGE ***/

	body.home main {
		max-width: 100%; // override layout to allow for full-width sections
	}

	section.hero {
		@include clearfix;
		> div {
			@include grid-column(6);
		}
	}

	section.articles {
		@include clearfix;
		article {
			@include grid-column(3);
		}
	}

	body.home section.primary div.text {
		column-count: 2;
	}

	body.home section.secondary {
		div.text {
			@include grid-column(4);
		}
		div.buttons {
			@include grid-column(8);
		}
	}

	/*** PAGES ***/

	body.page:not(.home):not(.page-parent):not(.page-child) main {
		@include grid-col-pos(center);
		@include grid-column(8);
	}

	/*** PAGES WITH SIDEBARS ***/

	body.blog, body.archive, body.search-results {
		div.main {
			@include grid-column(7);
		}
		aside.sidebar {
			@include grid-column(4);	
		}
	}

	body.page-parent, body.page-child {
		div.main {
			@include grid-column(12);
		}
		div.main aside.sidebar {
			display: block;
			float: left !important; // sorry for !important. i'm blaming it on Foundation
			@include grid-column(3);
		}
		div.main > article {
			float: right !important;
			@include grid-column(9);
		}
	}

	/*** SINGLE POST PAGE ***/

	body.single {
		main > header {
			@include grid-column(9);
			@include grid-col-pos(center);
		}
		main > article, section.meta, section.pagination {
			@include grid-column(8);
			@include grid-col-pos(center);
			@include collapse;
		}
		main > aside > div {
			@include grid-column(4);
		}
		section.pagination {
			@include clearfix;
		}
		section.pagination > div {
			@include grid-column(6);
			@include collapse;
		}
	}

} // end breakpoint(large)


/************
XLARGE AND UP
*************/

@include breakpoint(xlarge) {

	/*** HEADER / MAIN NAV ***/

	#header .desktop {
		display: block;
	}

	#nav .mobile {
		display: none;
	}

	#nav {
		@include grid-column(5);
	}

	/*** HOMEPAGE ***/

	section.block {
		@include grid-column(6);
	}

	body.home section.primary div.text {
		column-count: 1;
	}

	body.home section.secondary {
		div.text {
			@include grid-column(12);
		}
		div.buttons {
			@include grid-column(12);
		}
	}

	/*** SINGLE PAGE & DEFAULT PAGES ***/

	body.single {
		main > article, section.meta, section.pagination {
			@include grid-column(6);
			@include grid-col-pos(center);
		}
	}

	/*** PAGES WITH SIDEBARS ***/

	body.page-parent div.main > article, body.page-child div.main > article {
		@include grid-column(7);
		@include grid-col-pos(-2);
	}

	/*** NEXTGEN IMAGE GALLERY ***/
	div.ngg-galleryoverview {
		max-width: none;
		width: 138%;
	}

} // end breakpoint(xlarge)