
/************
ALL SIZES 
*************/


/*** GLOBAL ***/

#nav {
	width: 100%;
}

#header .desktop {
	display: none;
}

hr  {
	width: 100%;
}

#header > div, main {
	@include grid-row;
}

footer section {
	@include grid-column(6);
	&:first-child {
		@include grid-column(12);
	}
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/************
LARGE AND UP
*************/

@include breakpoint(large) {

	main {
		min-height: 25rem;
	}

	.alignleft {
		float: left;
		margin-right: $padding/2;
	}

	.alignright {
		float: right;
		margin-left: $padding/2;
	}

	.button-group > div {
		@include grid-column(6);
	}

	footer section {
		@include grid-column(3);
		&:first-child {
			@include grid-column(6);
		}
		p {
			max-width: 30rem;
		}
	}

	/*** HOMEPAGE ***/

	body.home section {
		@include grid-row;
	}

	section.hero > div {
		@include grid-column(6);
	}

	section.articles article {
		@include grid-column(6);
	}

	body.home section.primary div.text {
		column-count: 2;
	}

	body.home section.secondary {
		div.text {
			@include grid-column(4);
		}
		.button-group {
			@include grid-column(8);
		}
	}

	/*** PAGES WITH SIDEBARS ***/

	body.page {
		aside.sidebar {
			@include grid-column(4);
		}
		article {
			@include grid-column(8);
		}
	}

	/*** SINGLE PAGE & DEFAULT PAGES ***/

	body.single {
		main header, main > article {
			@include grid-column(11);
			@include grid-col-pos(center);
		}
	}

} // end breakpoint(large)


/************
XLARGE AND UP
*************/

@include breakpoint(xlarge) {

	/*** HEADER / MAIN NAV ***/

	#header .desktop {
		display: block;
	}

	#nav .mobile {
		display: none;
	}

	#nav {
		@include grid-column(5);
	}

	/*** HOMEPAGE ***/

	section.block {
		@include grid-column(6);
	}

	body.home section.primary div.text {
		column-count: 1;
	}

	body.home section.secondary {
		div.text {
			@include grid-column(12);
		}
		.button-group {
			@include grid-column(12);
		}
	}

} // end breakpoint(xlarge)