


.logo-text { // used in header and footer
	font-family: $small-caps, serif;
	letter-spacing: 0.325em;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	@extend .micro;
}


/*************
HEADER 
*************/

#header {
	background-color: $blue-xlt;
	&:before {
		content: '';
		background-image: url('../img/banner.png');
		background-size: cover;
		height: 140px;
		display: block;
	}
	> div {
		position: relative;
	}
	.logo-text {
		color: $black;
		text-align: center;
	}
	nav {
		background-color: $blue;
		padding: 1rem;
	}
	div.primary-nav {
		text-align: center;
		a {
			color: $blue;
			border-bottom: 12px solid transparent;
			display: block;
			font-size: 2.063rem;
			font-weight: 100;
		}
		.current-menu-item a, .current-page-ancestor a, a:hover {
			color: $gray-dk;
		}
	}
	.desktop-search {
		display: none;
	}
	div.secondary-nav a, .toggle-nav {
		color: $white;
	}
	div.secondary-nav {
		font-family: $small-caps, serif;
		font-size: 1.125rem;
		letter-spacing: 0.125em;
		text-align: right;
		text-transform: lowercase;
		a {
			margin-left: 0.5rem;
		}
		ul, li {
			display: inline;
		}
	}
	.toggle-nav {
		float: left;
	}
	.icon-bars {
		color: rgba($white,0.75);
		vertical-align: middle;
	}
}


@include breakpoint(large) {
	#header {
		@include border(bottom);
		nav {
			background-color: transparent;
			padding-bottom: 0;
		}
		.logo-text {
			float: left;
			font-size: 1.375rem;
			margin-left: $padding;
			text-align: left;
		}
		.toggle-nav {
			display: none;
		}
		.desktop-search {
			display: inline-block;
		}
	}
	#header div.primary-nav {
		display: block !important;
		text-align: right;
		ul {
			margin-top: 0;
			margin-bottom: -6px;
		}
		li {
			display: inline-block;
		}
		li a {
			padding: $padding;
		}
		.current-menu-item a, .current-page-ancestor a {
			border-color: $bronze;
		}
	}
	#header div.secondary-nav {
		@include clearfix;
		a {
			color: $gray-dk;
		}
	}
	#searchform, #searchform button {
		display: none;
	}
}

nav.search-open {
	.desktop-search {
		position: relative;
		#searchform {
			display: inline-block;
			position: absolute;
			right: calc(100% + #{$padding});
		}
	}
	.secondary a {
		opacity: 0.2;
	}
	.secondary .desktop-search a {
		opacity: 1;
	}
}

/*** Overlay Nav ***/

#header div.primary-nav, body.nav-closed #header div.primary-nav {
	display: none;
}

body.nav-open {
	position: relative;
	#header div.primary-nav {
		display: block;
		background: $blue-xlt;
		padding: $padding*1.5 $padding;
		min-height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 1;
	}
}


/*************
FOOTER 
*************/

#footer, .subfooter {
	text-align: center;
}

body:not(.home) #footer {
	@include border(top);	
}

#footer {
	padding: $padding;
	p {
		font-family: $serif, serif;
	}
	div.contact {
		background: url('../img/seal.png') no-repeat right top;
		padding-top: $padding*2;
	}
	div.signup {
		h3 {
			color: $gray;
			font-size: $h1;
			font-weight: 100;
		}
	}
	nav {
		a {
			color: $blue;
			padding: $padding;
		}
		.secondary-nav {
			border-top: $border;
			padding-top: $padding;
			font-weight: 900;
		}
		.secondary-nav li {
			display: inline-block;
		}
		.primary {
			padding-top: $padding;
		}
	}
	.primary-nav a {
		display: block;
		@extend %kilo;
	}
	.social {
		[class^="icon-"] {
			font-size: 2rem;
			margin-right: $padding/2;
			vertical-align: middle;
		}
		a {
		    border: 0;
		    display: block;
		    padding: $padding/2;
		}
	}
}

.subfooter {
	background-color: $blue-xlt;
	color: $blue;
	padding-top: $padding/2;
	padding-bottom: $padding/2;
	span {
		display: block;
	}
}

@include breakpoint(large) {
	#footer {
		text-align: left;
		section {
			padding-top: $padding;
			padding-bottom: $padding;
		}
		section + section {
			border-top: $border;
		}
		div.signup h3, div.signup p {
			display: inline;
			padding-left: $padding;
		}
		div.signup form {
			display: block;
			margin-top: $padding;
		}
		div.signup form input {
			width: 22rem;
		}
		div.contact {
			background-position-x: 18%;
		}
		.address p, .phone, .email {
			display: inline-block;
		}
		.address p + p:before, .email:before {
			content: '/';
			padding: $padding/4;
		}
		.social {
			float: left;
		}
		nav {
			text-align: right;
		}
		.primary-nav a {
			font-size: 1rem;
			font-weight: 900;
		}
		.primary-nav li {
			display: inline-block;
		}
	}
	#footer nav .secondary-nav {
		border-top: none;
	}
	.subfooter span {
		display: inline;
	}
}

@include breakpoint(xlarge) {
	#footer div.contact {
		background-position-x: 0;
		padding-left: calc(123px + #{$padding}); // seal image + padding
	}
}
