


.logo-text { // used in header and footer
	font-family: $small-caps, serif;
	letter-spacing: 0.325em;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	@extend .micro;
}


/*************
HEADER 
*************/

#header {
	background-color: $blue-xlt;
	&:before {
		content: '';
		background-image: url('../img/banner.png');
		background-size: cover;
		height: 140px;
		display: block;
	}
	> div {
		position: relative;
	}
	.logo-text {
		text-align: center;
	}
	nav {
		background-color: $blue;
		padding: 1rem;
	}
	div.primary a {
		color: $blue;
		@extend .h2;
	}
	div.secondary a, .toggle-nav {
		color: $white;
	}
	div.secondary {
		font-family: $small-caps, serif;
		font-size: 1.125rem;
		letter-spacing: 0.125em;
		text-align: right;
		text-transform: lowercase;
		a + a {
			margin-left: 0.5rem;
		}
	}
	.toggle-nav {
		float: left;
	}
	.icon-bars {
		color: rgba($white,0.75);
		vertical-align: middle;
	}
}


@include breakpoint(large) {
	#header {
		border-bottom: 5px solid $blue;
		nav {
			background-color: transparent;
		}
		.logo-text {
			float: left;
			font-size: 1.375rem;
			margin-left: $padding;
			text-align: left;
		}
		.toggle-nav {
			display: none;
		}
	}
	#header div.primary {
		display: block !important;
		margin-top: $padding;
		text-align: right;
		a {
			display: inline-block;
			padding: $padding;
		}
	}
	#header div.secondary {
		@include clearfix;
		a {
			color: $gray-dk;
		}
	}
}

/*** Overlay Nav ***/

#header div.primary, body.nav-closed #header div.primary {
	display: none;
}

body.nav-open {
	position: relative;
	#header div.primary {
		display: block;
		background: $blue-xlt;
		padding: $padding*1.5 $padding;
		min-height: 100vh;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 1;
	}
}


/*************
FOOTER 
*************/

footer, .subfooter {
	text-align: center;
}

footer {
	padding: $padding;
	div.contact {
		font-family: $serif, serif;
	}
	nav {
		a {
			color: $blue;
			padding: $padding;
		}
		.secondary {
			border-top: $border;
			padding-top: $padding;
			font-weight: 900;
		}
		.primary {
			padding-top: $padding;
		}
	}
	.social {
		[class^="icon-"] {
			color: $blue;
			font-size: 2rem;
			margin-right: $padding/2;
			vertical-align: middle;
		}
		a {
		    border: 0;
		    display: block;
		    padding: $padding/2;
		}
	}
}

.subfooter {
	background-color: $blue-xlt;
	color: $blue;
	padding-top: $padding/2;
	padding-bottom: $padding/2;
}

@include breakpoint(large) {
	footer {
		text-align: left;
		> div + div {
			border-top: $border;
		}
		.address p, .phone, .email {
			display: inline-block;
		}
		.address p + p:before, .email:before {
			content: '/';
			padding: $padding/4;
		}
		.social {
			float: left;
		}
		nav {
			text-align: right;
		}
		.primary a {
			display: inline-block;
			font-weight: 900;
		}
	}
	footer nav .secondary {
		border-top: none;
	}
}
