
/*************
HEADER 
*************/

#header {
	background: url('../img/banner.jpg') darken($gray,10);
	background-position: left;
	background-size: cover;
	padding-bottom: $padding/4;
	> div {
		position: relative;
	}
	.toggle-nav {
		background: rgba($cream,0.8);
		font-family: sans-serif; // to get unicode symbol
		font-size: 2.375rem;
		line-height: 0.85;
		padding-left: 0.125em;
		padding-right: 0.125em;
		position: absolute;
		top: $padding/2;
		right: $padding/4;
	}
	h1 {
		margin-bottom: 0;
		text-align: center;
	}
	.logo {
		color: $white;
		img {
			height: auto;
			width: 200px;
		}
	}
}
@include breakpoint(large) {
	#header {
		background-position: center;
		min-height: 10rem;
		padding-left: $padding/2;
		padding-top: $padding/2;
		h1 {
			text-align: left;
		}
		.logo img {
			width: 230px;
		}
		.toggle-nav {
			font-size: 2rem;
		}
	}
}

/*** Overlay Nav ***/

#mainNav, body.nav-closed #mainNav {
	display: none;
}

body.nav-open {
	position: relative;
	#mainNav {
		display: block;
	}
}

#mainNav {
	background: rgba($white,0.95);
	padding: $padding*1.5 $padding;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1;
	.toggle-nav {
		color: $cream;
		font-size: 1.75rem;
		float: right;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

/*** Desktop Primary Nav ***/

#header div.desktop {
	position: absolute;
	right: 0.5em;
	bottom: 0;
	.menu, .calendar {
		float: right;
	}
	a {
		background: rgba($cream, 0.75);
		padding: 0.125em 0.75em;
		@extend .h3;
		&:hover {
			background-color: rgba($cream, 1);
		}
	}
	ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	li {
		display: inline-block;
		margin-left: 1em;
	}
	.calendar {
		margin-left: 1.25em;
	}
}


/*************
FOOTER 
*************/

footer {
	background: url('../img/texture.jpg') $gray-dk;
	background-size: cover;
	color: $white;
	padding-top: $padding;
	padding-bottom: $padding;
	.columns {
	  height: 17rem;
	}
	a {
		color: $white;
		border-bottom: 1px solid $gray;
		&:hover {
			border-color: $cream;
		}
	}
	ul {
		@include bullet-list;
	}
	.footer-left {
		margin-bottom: $padding/2;
		h4 {
			margin-bottom: 1em;
		}
		a {
			display: inline-block;
			margin-top: 1em;
		}
	}
	.social a {
	    font-size: 1.125rem;
	    border: 0;
	    margin-right: 0.25em;
	    opacity: 0.75;
	    &:hover {
	    	opacity: 1;
	    }
	}
}

.subfooter {
	background: $gray-dk;
	color: $white;
	padding-top: $padding/2;
	padding-bottom: $padding*1.5;
	@extend .small;
}