
/*************
HOMEPAGE 
*************/

/*** HERO ***/

section.hero div.image {
	background-size: cover;
	min-height: 200px;
}
section.hero div.text {
	background: $mustard;
	padding: $padding;
	text-align: center;
	h2 {
		font-family: $serif, serif;
		margin: 0 auto $padding auto;
		max-width: 35rem;
		@extend %kilo;
	}
}

@include breakpoint(large) {
	section.hero div.text {
		padding: $padding*2;
	}
}

/*** ARTICLES ***/

section.articles {
	padding: $padding/2 $padding/2 $padding*2 $padding/2;
	text-align: center;
	h2 {
		color: $gray-dk;
		margin: $padding*2 auto 0 auto;
		max-width: 10rem;
	}
	h3 {
		font-family: $serif, serif;
		font-weight: $font-weight-normal;
		@include transition(color 0.125s ease-in);
	}
	article > a {
		display: inline-block;
		margin-top: $padding*2;
		padding: $padding $padding $padding*3;
		position: relative;
		width: 100%;
		@include box-shadow($silver 0 0 $padding);
		&:hover {
			@include box-shadow($gray-lt 0 0 $padding);
		}
	}
	p {
		color: $gray-dk;
	}
	.excerpt {
		margin-bottom: $padding*4;
	}
	a:hover h3 {
		color: $black;
	}
}

@include breakpoint(large) {
	section.articles h2 {
		max-width: none;
	}
}

/*** COLOR BLOCKS ***/

section.block {
	color: $gray-dk;
	padding: $padding;
	h2 {
		text-align: center;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 45rem;
	}
	p.links {
		margin-top: $padding*2;
		span {
			font-style: italic;
		}
		a {
			color: $blue;
			font-weight: $font-weight-bold;
		}
	}
	.alignright, .alignleft {
		max-width: 55%;
	}
}

section.block {
	max-height: 28rem;
	overflow: hidden;
	position: relative;
	.expand {
		height: 5rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: $padding;
		text-align: center;
		z-index: 1;
		&:before {
			content: '';
			display: block;
			height: 5rem;
			width: 100%;
			position: absolute;
			top: -5rem;
			left: 0;
		}
	}
	&.expanded {
		max-height: none;
		div.expand {
			display: none;
		}
	}
}

section.primary {
	background: $blue-lt;
	div.expand {
		background: $blue-lt;
		&:before {
			@include background(linear-gradient(rgba($blue-lt, 0), $blue-lt));
		}
	}
}

section.secondary {
	background: $mustard-lt;
	div.expand {
		background: $mustard-lt;
		&:before {
			@include background(linear-gradient(rgba($mustard-lt, 0), $mustard-lt));
		}
	}
}

@include breakpoint(medium) {

	section.block {
		max-height: none;
		div.expand {
			display: none;
		}
	}

}

@include breakpoint(large) {

	section.block .alignright, section.block .alignleft {
		max-width: 100%;
	}

}