
/********************
SETTINGS & UTILITIES
********************/

/*** COLORS ***/

$blue: #82a6d6;
$blue-lt: #d1dcf2;
$blue-xlt: #e8edf8;

$bronze: #8a7846;
$mustard: #d6d397;

$black: #333;
$gray-dk: #666;
$gray: #999;
$gray-lt: #ddd;
$silver: #f2f2f2;
$white: #fff;

$green: #b3e37e;
$green-lt: #ecf8df;

$red: #900;
$red-lt: #e5bfbf;

/*** OTHER UTILITIES ***/

$padding: 1rem;
$radius: 0.25em;
$border: 1px solid $silver;

/*** FONTS ***/

@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Alegreya+Sans:300,400,400i,900');

$serif: 'Alegreya';
$small-caps: 'Alegreya SC';
$sans-serif: 'Alegreya Sans';

/*** MIXINS ***/

/*** Bulleted Unordered Lists ***/
// Sass usage:
// @include bullet-list;

@mixin bullet-list {
	margin-left: 0;
	padding-left: 0.75em;
	text-indent: -0.75em;
	li:before {
		content: '-';
		padding-right: 0.5em;
	}
	li + li {
		margin-top: 0.75em;
	}
  li li:before {
    content: '\2022';
  }
}

/*** Underlines for Links ***/
// Sass usage:
// @include underline;
// to add a custom underline color:
// @include underline($silver);

@mixin underline($color:null) {
  border-bottom: 1px solid;
  color: darken($gray,10);
  &:hover {
    color: $black;
  }
  @if ($color) {
    border-color: $color;
  } @else {
    border-color: $black;
    color: $black;
  }
}

/*** Buttons ***/

@mixin buttons($color:null,$border:$gray-lt,$text:$gray) {
  border-color: $border;
  color: $text;
  &:hover {
    background-color: $gray-lt;
    border-color: $text;
    color: $black;
    @if ($color) {
      background-color: $color;
      border-color: $color;
      color: $white;
    }
  }
}

/*** Cut Off Text That's Too Long with an Ellipsis ***/
// usage:
// @include truncate;
// in cases where a height must be specified to cut off properly:
// @include truncate(1.25em);

@mixin truncate($height:null) {
  height: $height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*** Icons ***/
// to update: import one of the font files into the app at icomoon.io/app

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  color: $gray-dk;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// html usage:
// <span class="icon-twitter"></span>
// for accessibility, provide some visually-hidden text:
// <span class="icon-twitter"></span><span class="visually-hidden">Twitter</span>

.icon-close:before {
  content: "\f00d";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-arrow-right:before {
  content: "\f061";
}
.icon-twitter:before {
  content: "\f081";
}
.icon-facebook:before {
  content: "\f082";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}


/*** FOUNDATION (by Zurb) ***/
// used just for the grid system.

@import 'util/util';
$grid-row-width: rem-calc(1366);
@import "foundation";
@include foundation-global-styles;
@import "grid";

