
/*************
HOMEPAGE 
*************/

/*** HERO ***/

section.hero div.image {
	background-size: cover;
}
section.hero div.text {
	background: $mustard;
	padding: $padding;
	text-align: center;
	h2 {
		font-family: $serif, serif;
		margin-top: 0;
		@extend %kilo;
	}
}

@include breakpoint(large) {
	section.hero div.text {
		padding: $padding*2;
	}
}

/*** ARTICLES ***/

section.articles {
	padding: $padding/2;
	text-align: center;
	h3 {
		font-family: $serif, serif;
		font-weight: 300;
	}
	article > a {
		display: inline-block;
		margin-top: $padding*2;
		padding: $padding;
		width: 100%;
		@include box-shadow($silver 0 0 $padding);
	}
	.read-more {
		position: relative;
		.text {
			left: 30%;
			margin-right: $padding;
			opacity: 0;
			position: absolute;
			@extend .h4;
		}
	}
	.icon-chevron-circle-right {
		font-size: 1.5rem;
		vertical-align: baseline;
	}
	a:hover {
		.read-more .text {
			opacity: 1;
		}
		.icon-chevron-circle-right {
			color: $bronze;
			left: 40%;
		}
	}
}


/*************
ARCHIVE  
*************/

/*************
EVENTS PAGE  
*************/

/*************
SINGLE  
*************/

body.single, body.page {
	main header .meta {
		font-size: 1rem;
		a {
			border-bottom: none;
		}
	}
	main header h1 {
		margin-bottom: $padding/2;
	}
	main {
		margin-bottom: $padding/2;
	}
	main a:not(.button) {
		@include underline;
		&:hover {
			color: $black;
		}
	}
	article {
		img {
			margin-top: $padding/2;
			margin-bottom: $padding/2;
		}
	}
	.wp-caption-text {
		@extend .meta;
	}
}

section.comments {
	h2 {
		margin-bottom: $padding;
	}
	h3 {
		margin-top: $padding;
	}
	.comment {
		margin-top: $padding;
		max-width: 48rem;
	}
	.comment-author {
		cite {
			font-style: normal;
			text-transform: uppercase;
			font-weight: bold;
		}
		.says {
			display: none;
		}
	}
	.comment-reply-link {
		@extend .h4;
	}
	.comment-meta {
		margin-bottom: $padding/3;
	}
	.comment-notes, .comment-awaiting-moderation, .comment-meta a {
		color: $gray;
		@extend .micro;
	}
}

/*************
SEARCH RESULTS  
*************/

body.search-no-results main {
	p {
		margin-top: $padding/2;
		margin-bottom: $padding;
	}
	#searchform button {
		color: $black;
	}
	input[type=search] {
		width: 18rem;
	}
}
