
/*************
HOMEPAGE 
*************/

body.home main {
	margin-bottom: $padding*2;
}

/*** HERO ***/

section.hero div.image {
	background-size: cover;
	min-height: 200px;
}
section.hero div.text {
	background: $mustard;
	padding: $padding;
	text-align: center;
	h2 {
		font-family: $serif, serif;
		margin: 0 auto $padding auto;
		max-width: 35rem;
		@extend %kilo;
	}
}

@include breakpoint(large) {
	section.hero div.text {
		padding: $padding*2;
	}
}

/*** ARTICLES ***/

section.articles {
	padding: $padding/2 $padding/2 $padding*2 $padding/2;
	text-align: center;
	h2 {
		color: $gray-dk;
		margin: $padding*2 auto 0 auto;
		max-width: 10rem;
	}
	h3 {
		font-family: $serif, serif;
		font-weight: 300;
		@include transition(color 0.125s ease-in);
	}
	article > a {
		display: inline-block;
		margin-top: $padding*2;
		padding: $padding $padding $padding*3;
		position: relative;
		width: 100%;
		@include box-shadow($silver 0 0 $padding);
		&:hover {
			@include box-shadow($gray-lt 0 0 $padding);
		}
	}
	p {
		color: $gray-dk;
	}
	.excerpt {
		margin-bottom: $padding*4;
	}
	.read-more {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	a:hover h3 {
		color: $black;
	}
}

@include breakpoint(large) {
	section.articles h2 {
		max-width: none;
	}
}

/*** COLOR BLOCKS ***/

section.block {
	color: $gray-dk;
	padding: $padding;
	h2 {
		text-align: center;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		max-width: 45rem;
	}
	p.links {
		margin-top: $padding*2;
		span {
			font-style: italic;
		}
		a {
			color: $blue;
			font-weight: 900;
		}
	}
}

section.primary {
	background: $blue-lt;
}

section.secondary {
	background: $mustard-lt;
}


/*************
BLOG  
*************/

body.blog, body.archive {
	header {
		p {
			margin-bottom: 0;
		}
		h1 {
			margin-top: 0;
		}
	}
	main h2 {
		margin-top: 0;
	}
	article {
		padding: $padding*2;
		a {
			color: $gray-dk;
		}
	}
	&:not(.paged) article:first-of-type { // first page only
		@include box-shadow($silver 0 0 $padding);
	}
}

aside.blog h3 {
	color: $gray;
	font-size: $h4;
}

/*************
DEFAULT PAGE & 
SINGLE POST
*************/

nav.breadcrumb {
	color: $gray;
	padding: $padding*2 $padding*2 $padding;
	text-align: right;
}

body.single article, body.page:not(.home) article {
	main p {
		font-size: 1.25rem;
		font-weight: 100;
		line-height: 1.5em;
	}
	a:not(.button) {
		background: lighten($blue-xlt,2);
		border-bottom: 2px solid $blue;
		color: $gray-dk;
		&:hover {
			border-color: $gray-dk;
		}
	}
	img {
		margin-top: $padding/2;
		margin-bottom: $padding/2;
	}
	.wp-caption-text {
		@extend .micro;
	}
}


/*************
SINGLE POST
*************/

body.single main {
	header img {
		width: 100%;
	}
	section.meta, section.pagination, > aside {
		padding-top: $padding*2;
		padding-bottom: $padding*2;
		@include border(top,$gray-lt);
	}
}

body.single header {
	margin-bottom: $padding*2;
	text-align: center;
}

section.meta {
	color: $gray;
	font-size: 1.25rem;
	.category a {
		border-bottom: 1px solid;
		color: $gray;
	}
}

div.tags {
	$tag-height: 1.5em;
	margin-top: $padding;
	.label {
		margin-right: $padding/2;
	}
	a {
		background: $blue-lt;
		display: inline-block;
		height: $tag-height;
		line-height: $tag-height;
		margin-right: $padding*1.5;
		padding-left: $padding/2;
		position: relative;
	}
	a:after { // creates little arrow shape
		border-top: $tag-height/2 solid transparent;
		border-bottom: $tag-height/2 solid transparent;
		border-left: $tag-height/2 solid $blue-lt;
		content: '';
		position: absolute;
		right: $tag-height*1.5 / 2 * -1;
		top: 0;
		width: $tag-height*1.5 / 2;
	}
}

body.single section.pagination {
	color: $gray;
	.label {
		margin-bottom: $padding/2;
	}
	.prev {
		margin-bottom: $padding;
	}
}

@include breakpoint(large) {
	body.single section.pagination .next {
		text-align: right;
	}
}


/*************
DEFAULT PAGE
*************/

body.page {
	nav.breadcrumb {
		padding-bottom: $padding*2;
	}
	.page-title {
		margin-top: 0;
	}
}

.pages-menu {
	padding-top: $padding*2;
	li {
		font-size: $h2;
		font-weight: 100;
		list-style: none;
		padding-bottom: $padding;
	}
	.current_page_item > a {
		color: $gray-dk;
	}
	.current_page_item > a:before {
		color: $gray-dk;
		content: "\f061";
		font-weight: normal;
		padding-right: 0.5em;
		@extend [class^="icon-"];
	}
}

/*************
EVENTS PAGE
*************/

body.page-template-events-page article h2 {
	margin-bottom: 0;
}

p.event-date {
	font-family: "Alegreya SC", serif;
}


/*************
SEARCH RESULTS  
*************/

body.search-no-results main {
	p {
		margin-top: $padding/2;
		margin-bottom: $padding;
	}
	#searchform button {
		color: $black;
	}
	input[type=search] {
		width: 18rem;
	}
}
